

.footer__container
{
    display: grid;
    align-items: center;

    grid-auto-flow: column;
    grid-auto-columns: calc((2 / 100%) -10px);

    gap: 20px;
}

.list
{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: auto 50px auto 0px;
    align-items: left;
    justify-content: center;
}

.list li
{
    display: flex;
    margin: 8px 25px;
    align-items: left;
    justify-content: left;
}

.social-media__icon
{
    margin: auto 5px;
}

.list a
{
    display: flex;
    align-items: center;
}

.list-2
{
    display: flex;
    flex-flow: column;
    margin: auto 50px auto 0px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.list-2 li
{
    margin: 5px;
    text-decoration: none;
}

.list-3
{
    display: none;
    flex-flow: column;
    margin: auto 50px auto 0px;
    align-items: center;
    justify-content: center;
}

.list-3 li
{
    margin: 5px;
    text-decoration: none;
}

.footer__social-medias a
{
    text-decoration: none;
    text-align: center;
}

.footer__social-medias a:hover
{
    filter: opacity(0.5);
}
.social-media__icon
{
    filter: invert();
}

.map
{
    box-sizing: content-box;
    margin: auto 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: right;
}
.map iframe
{
    outline: 2px solid var(--outline-color-2);
    margin: auto;
    border-radius: 10px;
    width: 30vw;
    height: 35vh;
}

.map p
{
    margin: auto auto;
}

.copyright
{
    width: 100%;
    position: relative;
    text-align: center;
    bottom: 0;
    left: 0;
    background-color: var(--dark-mode-background-2);
    padding: 5px;
}