
@media screen and (max-width:900px) 
{
    .wrapper .carousel
    {
        grid-auto-columns: calc((100% / 2) -8px);
    }
}
@media screen and (max-width:600px) 
{
    .wrapper .carousel
    {
        grid-auto-columns: 100%;
    }

    .wrapper .carousel
    {
        grid-auto-columns: 100%;
    }

    .product__most-purchased
    {
        margin: 35px auto;
    }

    nav
    {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-button
    {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        margin: auto auto;
    }
    .logo-button:hover
    {
        opacity: .5;
    }
    .logo-button img
    {
        position: absolute;
        margin: auto;
    }

    /* .list-2, .list-3, .map , .nav-button,  .nav-color-mode__button,  .logo
    {   
        display: none;
    } */

    .list-2, .list-3, .nav-button,  .nav-color-mode__button, .logo
    {   
        display: none;
    }

    .list
    {
        width: 100%;
        margin: 0;
    }
    .footer__container
    {
        grid-auto-columns: calc(1/2 * 100%);
    }
    .map 
    {
        margin: auto 75px auto 0;
    }
    .map iframe
    {
        box-sizing: content-box;
        width: 40vw;
        height: 25vh;
    }

}